.wrapper {
  width: 70%;
  border: 1px solid blue;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  gap: 20px;
}

/* Small devices (phones) */
@media only screen and (max-width: 600px) {
  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }
}
