.wrapper {
  width: 70%;
  margin: 20px auto;
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 20px;
  gap: 20px;
}

.not_found_wrapper {
  width: 70%;
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Small devices (phones) */
@media only screen and (max-width: 600px) {
  .wrapper {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 30px;
  }

  .not_found_wrapper {
    width: 100%;
    margin: 150px auto;
  }
}
