.wrapper {
  width: 80%;
  margin: 10px auto 30px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px auto;
}

.form_title {
  text-align: center;
  margin: 40px 0;
}

/* Small devices (phones) */
@media only screen and (max-width: 600px) {
  .wrapper {
    width: 100%;
  }
}
