.post_card_wrapper {
  padding: 20px;
  border: 1px solid var(--color-text-secondary);
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.link_unstyled {
  text-decoration: none;
  color: var(--color-text-primary);
}
