.wrapper {
  background: var(--theme-color-background);
  color: var(--color-text-primary);

  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.main {
  width: 80%;
  margin: 0 auto;
  flex: 1;
  padding: 50px;
  display: flex;
  gap: 10px;
  flex-basis: 50%;
}

.about {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 15px;
}

.title {
  font-size: 3rem;
}

.about_me_paragraph {
  font-size: 1.1rem;
}

.profile {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
