.wrapper {
  background: var(--theme-color-background);
  color: var(--color-text-primary);
  width: 75%;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 100px;
  min-height: 100vh;
}

/* Small devices (phones) */
@media only screen and (max-width: 600px) {
  .wrapper {
    width: 90%;
    margin: 10px auto;
    gap: 40px;
  }
}
