.wrapper {
  width: 75%;
  margin: 0 auto;
  padding: 0;
}

.main {
  display: flex;
  flex-direction: column;
}

/* Small devices (phones) */
@media only screen and (max-width: 600px) {
  .wrapper {
    width: 90%;
    margin: 10px auto;
    gap: 40px;
  }
}
